<% provide :title, "Singup" %> <h1 style="text-align: center;">Sign up</h1>
<% provide(:button_text, t(".signup")) %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render "users/form" %>
	</div>
</div>